*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica,
     sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: #f2f2f2;

}
header{
    background-color: black;
    margin: 0;
    padding: 100px;
    color: white;
    text-align: center;
}
nav ul {
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 0;
    
    border: solid black;
    flex-direction: center;

}
nav ul li{
   justify-content: center;
    margin: 0 140px;
    list-style-type: none;
    
    padding-left: 40px;
    padding-right: 40px;
}
a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-weight: bold;
    
}

a:hover{
    color: aqua;
}
div{
    display: flex;
    
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    flex: 3;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    margin: 50px;
}
footer{
    padding: 100px;
    background-color: black;
    color: azure;

    
}
aside{
    padding: 40px;
    min-height: 100vh;

background-color: grey;

}
aside h3{
    text-align: center;
}
section{
    padding-top: 20px;

}
